body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.hover-area {
    background-color: rgba(0, 0, 0, 0); /* Initial transparent background */
    transition: background-color 0.3s ease;
}

.eyes:hover {
    background-color: rgba(0, 255, 0, 0.3); /* Green */
}

.hair:hover {
    background-color: rgba(255, 255, 0, 0.3); /* Yellow */
}

.lips:hover {
    background-color: rgba(255, 0, 0, 0.3); /* Red */
}

.shirt:hover {
    background-color: rgba(139, 69, 19, 0.3); /* Brown */
}